@font-face {
    font-family: 'sumptuouslight';
    src: url('assets/fonts/sumptuous_light-webfont.woff2') format('woff2'),
         url('assets/fonts/sumptuous_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'butler_stencilregular';
    src: url('assets/fonts/butler_regular_stencil.woff2') format('woff2'),
         url('assets/fonts/butler_regular_stencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin main-font {
    font-family: 'butler_stencilregular', serif;
}
@mixin titles-font {
    font-family: 'sumptuouslight', serif;
}
