body {
    background: white;
    @include main-font;
}

.logo {
    background: url("assets/logo_monti.svg") no-repeat center center;
    background-size: contain;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

.vm-m {
    margin-bottom: 2*$g-s;
}
