.landing-section {
    background: $grey;
    color: white;
    padding: 4*$g-l 2*$g-l;
}
    .landing-section-content {
        max-width: $content-width;
        margin: 0 auto;
    }

    .landing-section-title {
        text-align: center;
        @include titles-font;
        color: $blue;
        font-size: 40px;
        margin-bottom: 4*$g-l;
    }

.landing-section-blue {
    background: $blue;
    color: white;
    .landing-section-title {
        color: $grey;
    }
}
.landing-section-white {
    background: white;
    color: $blue;
    .landing-section-title {
        color: $grey;
    }
}

@import "landing-section-recital";
@import "landing-section-requisito";
@import "landing-section-escenarios";
@import "landing-section-curriculum";
@import "landing-section-contacto";
