$hero-logo-width: 370px;

.hero {
    min-height: 70vh;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    padding: 40px;
}
    .hero-logo {
        width: $hero-logo-width;
        @include aspect-ratio(817, 327);
    }
    .hero-title {
        padding: 0 $g-l;
        margin-top: 2*$g-l;
        @include titles-font;
        text-transform: uppercase;
        font-size: 26px;
        letter-spacing: 3px;
        color: $grey;
        @include flexbox;
        @include justify-content(space-between);
        width: $hero-logo-width;
    }
    .hero-subtitle {
        text-align: center;
        @include titles-font;
        text-transform: uppercase;
        color: rgba($grey, 0.8);
        font-size: 18px;
        margin-top: 5*$g-l;
        letter-spacing: 4px;
    }
