body {
    background: white;
    @include main-font;
}

$hero-logo-width: 370px;

.hero {
    min-height: 80vh;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
}
    .hero-logo {
        width: $hero-logo-width;
        height: 147px;
    }
    .hero-title {
        padding: 0 $g-l;
        margin-top: 2*$g-l;
        @include titles-font;
        text-transform: uppercase;
        font-size: 30px;
        color: $grey;
        @include flexbox;
        @include justify-content(space-between);
        width: $hero-logo-width;
    }

.logo {
    background: url("assets/logo_monti.svg") no-repeat center center;
    background-size: contain;
}
