.landing-section-contact {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $blue;
    background-blend-mode: luminosity;
    background-image: url("assets/img/contact.jpg");
    position: relative;
    .landing-section-title {
        color: white;
    }
    .landing-section-content {
        position: relative;
        z-index: 5;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $blue;
        opacity: 0.5;
    }
}
.landing-section-content-contacto {
    min-height: 70vh;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
}
    .contacto-text {
        max-width: 450px;
        margin: 0 auto;
        font-size: 40px;
        line-height: 1.1;
        text-align: center;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                // text-decoration: underline;
                background: white;
                color: $blue;
            }
        }
    }

    .contacto-decorator {
        height: 2px;
        width: 200px;
        margin: 2*$g-l auto;
        background: $grey;
    }
