@import "landing-hero";
@import "landing-nav";

.landing-section {
    background: $grey;
    color: white;
    padding: 4*$g-l 2*$g-l;
}
    .landing-section-content {
        max-width: $content-width;
        margin: 0 auto;
    }

    .landing-section-title {
        text-align: center;
        @include titles-font;
        color: $blue;
        font-size: 40px;
        margin-bottom: 4*$g-l;
    }

.landing-section-blue {
    background: $blue;
    color: white;
    .landing-section-title {
        color: $grey;
    }
}
.landing-section-white {
    background: white;
    color: $blue;
    .landing-section-title {
        color: $grey;
    }
}

.recital-columns {
    @include flexbox;
    @include justify-content(space-between);
    max-width: 400px;
    margin: 0 auto;
}
    .recital-column {
        text-align: center;
        max-width: 120px;
        line-height: 1.4;
        font-size: 20px;
    }
        .recital-column-title {
            margin-bottom: 2*$g-l;
        }

.requisito-small {
    text-align: center;
    margin: 0 auto;
    max-width: 150px;
    line-height: 1.4;
    font-size: 20px;
}
.requisito-big {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    line-height: 1;
    font-size: 67px;
    margin-top: 2*$g-l;
    margin-bottom: 3*$g-l;
}
.requisito-highlight {
    font-size: 40px;
    line-height: 1;
    display: block;
    margin-bottom: $g-m;
}
.requisito-aside {
    margin-top: 4*$g-l;
}
.landing-section-escenarios {
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}


.link-with-photo-list {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
}
    .link-with-photo-container {
        @include flex(1);
        @include aspect-ratio(16, 9);
        margin-right: 2*$g-l;
        &:last-child {
            margin-right: 0;
        }
    }
    .link-with-photo {
        // to maintain aspect ratio
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        // height: 180px;
        background: $blue;
        border: 10px solid white;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

.landing-section-content-curriculum {
    @include flexbox;

}
    .landing-section-content-curriculum-photos {
        @include flex(1);
        margin-right: $g-l;
    }
    .landing-section-content-curriculum-text {
        @include flex(1);
        margin-left: $g-l;
        font-size: 20px;
        line-height: 1.1;
    }
    .curriculum-entry {
        margin-bottom: $g-l;
    }
        .curriculum-entry-date {
            font-size: 22px;
        }
    .curriculum-entry-big {
        font-size: 28px;
        margin-bottom: 2*$g-l;
    }

.landing-section-content-contacto {
    min-height: 70vh;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
}
    .contacto-text {
        max-width: 450px;
        margin: 0 auto;
        font-size: 40px;
        line-height: 1.1;
        text-align: center;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                // text-decoration: underline;
                background: white;
                color: $blue;
            }
        }
    }

    .contacto-decorator {
        height: 2px;
        width: 200px;
        margin: 2*$g-l auto;
        background: $grey;
    }
