.landing-section-content-curriculum {
    @include flexbox;

}
    .landing-section-content-curriculum-photos {
        @include flex(1);
        margin-right: $g-l;
    }
    .landing-section-content-curriculum-text {
        @include flex(1);
        margin-left: $g-l;
        font-size: 20px;
        line-height: 1.1;
    }
    .curriculum-entry {
        margin-bottom: $g-l;
    }
        .curriculum-entry-date {
            font-size: 22px;
        }
    .curriculum-entry-big {
        font-size: 28px;
        margin-bottom: 2*$g-l;
    }

.landing-section-content-curriculum-photo {
    margin-bottom: 2*$g-l;
    width: 100%;
    @include aspect-ratio(1, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $blue;
    background-blend-mode: luminosity;
}

.landing-section-content-curriculum-photo-1 {
    background-image: url("assets/img/cv1.jpg");
}
.landing-section-content-curriculum-photo-2 {
    background-image: url("assets/img/cv2.jpg");
}
