.link-with-photo-list {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
}
    .link-with-photo-container {
        @include flex(1);
        @include aspect-ratio(16, 9);
        margin-right: 2*$g-l;
        &:last-child {
            margin-right: 0;
        }
    }
    .link-with-photo {
        // to maintain aspect ratio
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        border: 10px solid white;
        color: white;
        text-decoration: none;
        @include titles-font;
        font-size: 22px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $blue;
        background-blend-mode: luminosity;
        background-image: url("assets/img/contact.jpg");

        &:hover {
            background-blend-mode: overlay;
        }
    }
    .link-with-photo.requiem-web {
        background-image: url("assets/img/opera1.jpg");
    }
    .link-with-photo.requiem-articulo {
        background-image: url("assets/img/opera2.jpg");
    }
    .link-with-photo.actuacion-nexus {
        background-image: url("assets/img/nexus6.jpg");
    }
    .link-with-photo.actuacion-tango {
        background-image: url("assets/img/tango.jpg");
    }
